/*----------------------------------------
    Clases Personalizadas
------------------------------------------*/
.ocultar {
    display: none !important
}

.ocultar-small{
    visibility: hidden !important;
}

.input-block{
    display: block;
    width: 100% !important;
}

.btn-block{
    display: block;
    width: 100% !important;
}

@media only screen and (max-width: 992px) {
    .center-on-med-and-down {
        text-align: center
    }
    .size-1rem-on-med-and-down {
        font-size: 1.1rem !important;
        text-align: left;
    }
}

@media only screen and (max-width: 600px) {
    .size-1rem-on-small-and-down {
        font-size: 1.1rem !important;
        text-align: left !important;
    }

    .ocultar-small{
        display: none !important;
    }

    .center-on-small-and-down{
        text-align: center !important;
    }

    .pad-vert-on-small-and-down{
        padding-top: 5% !important;
    }
}

.negrita{
    font-weight: bold;
}

/*----------------------------------------
    Validaciones
------------------------------------------*/
/* Input Text */
span.md-inputfield > input.ui-inputfield.ui-state-error{/*Input*/
    background-image: linear-gradient(#FF0000, #FF0000), linear-gradient(#FC6262, #FC6262) !important;
}

span.md-inputfield > label.ui-outputlabel.ui-state-error{/*Label Comun*/
    color: #FF0000 !important;
}

/* Input TextArea */
span.md-inputfield > textarea.ui-inputfield.ui-state-error{/*Input*/
    background-image: linear-gradient(#FF0000, #FF0000), linear-gradient(#FC6262, #FC6262) !important;
}

/* Select One Menu*/
div.ui-selectonemenu.ui-state-error{/*Input*/
    background-image: linear-gradient(#FF0000, #FF0000), linear-gradient(#FC6262, #FC6262) !important;
}

div.ui-selectonemenu.ui-state-error > label.ui-selectonemenu-label{/*Label*/
    color: #FF0000 !important;
}

div.ui-selectonemenu.ui-state-error > div > span {/*Icono*/
    color: #FF0000 !important;
}

/* Auto Complete -> label es comun*/
span.md-inputfield > span > input.ui-inputfield.ui-state-error{/*Input*/
    background-image: linear-gradient(#FF0000, #FF0000), linear-gradient(#FC6262, #FC6262) !important;
}

/*----------------------------------------
    Espacio de Formularios de Inputs
------------------------------------------*/
div.row.formulario > div.col {
    /*padding: 0.5em;*/
    padding: 0.9em;
}

div.row.formulario > div.col.selectmenu {
    padding: 12px 16px;
}

/*----------------------------------------
    Efectos Permanentes
------------------------------------------*/
.ui-separator{
    border: none !important;
}

.ui-selectonemenu{
    width: 100% !important;
}

.ui-autocomplete-input{
    width: 100% !important;
}

.ocultar-scroll{
    overflow-y: hidden;
}

/*----------------------------------------
    Ancho de Dialogos
------------------------------------------*/
@media only screen and (min-width: 993px) { /* large only , large and up*/
    .ui-dialog{/*Tamano Estandar*/
        width: 80% !important;
    }
    .ui-dialog.migrar{/*Tamano Personalizado*/
        width: 80% !important;
    }
}
@media only screen and (min-width: 600px) and (max-width: 992px) { /* medio only*/
    .ui-dialog{/*Tamano Estandar*/
        width: 80% !important;
    }
    .ui-dialog.migrar{/*Tamano Personalizado*/
        width: 80% !important;
    }
}
@media only screen and (max-width: 600px) { /* small only , small and down */
    .ui-dialog{/*Tamano Estandar*/
        width: 80% !important;
    }
    .ui-dialog.migrar{/*Tamano Personalizado*/
        width: 80% !important;
    }
}

/*----------------------------------------
    Pre Loader
------------------------------------------*/
#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;
    -webkit-animation: spin 2s linear infinite;
    /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite;
    /* Chrome, Firefox 16+, IE 10+, Opera */
    z-index: 1001;
}

#loader-logo {
    display: block;
    position: absolute;
    left: 48%;
    top: 46%;
    z-index: 1001;
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #e74c3c;
    -webkit-animation: spin 3s linear infinite;
    /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 3s linear infinite;
    /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #f9c922;
    -webkit-animation: spin 1.5s linear infinite;
    /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 1.5s linear infinite;
    /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);
        /* IE 9 */
        transform: rotate(0deg);
        /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);
        /* IE 9 */
        transform: rotate(360deg);
        /* Firefox 16+, IE 10+, Opera */
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);
        /* IE 9 */
        transform: rotate(0deg);
        /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);
        /* IE 9 */
        transform: rotate(360deg);
        /* Firefox 16+, IE 10+, Opera */
    }
}

#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #222222;
    z-index: 1000;
    -webkit-transform: translateX(0);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(0);
    /* IE 9 */
    transform: translateX(0);
    /* Firefox 16+, IE 10+, Opera */
}

#loader-wrapper .loader-section.section-left {
    left: 0;
}

#loader-wrapper .loader-section.section-right {
    right: 0;
}

/* Loaded */
.loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(-100%);
    /* IE 9 */
    transform: translateX(-100%);
    /* Firefox 16+, IE 10+, Opera */
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(100%);
    /* IE 9 */
    transform: translateX(100%);
    /* Firefox 16+, IE 10+, Opera */
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.loaded #loader-wrapper {
    visibility: hidden;
    -webkit-transform: translateY(-100%);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateY(-100%);
    /* IE 9 */
    transform: translateY(-100%);
    /* Firefox 16+, IE 10+, Opera */
    -webkit-transition: all 0.3s 1s ease-out;
    transition: all 0.3s 1s ease-out;
}

/* JavaScript Turned Off */
.no-js #loader-wrapper {
    display: none;
}

.progress {
    background-color: rgba(255, 64, 129, 0.22);
}
